<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}                  
</head>
 <body>
    
  
  {{>navbar}}

     <div class="info">
                <h3>Hi I'm <span>Aashik</span> </h3>
                <h1><span>W</span>EB<span> D</span>ESIGNER</h1>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Dolore, natus vel aut omnis eligendi beatae, commodi officiis et veritatis iure laboriosam. Error,<br> architecto at tempora saepe libero et magnam rerum?</h3>
              
        </div>

     <footer>
        {{>footer}}
     </footer>
    
   </body>
        <style>
            .info{
            margin-top: 50px;
            padding-left: 50px;

            }
        </style>